:root {
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --soft-violet: hsl(277, 64%, 61%);

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 955px;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter , Tahoma;
}
.container {
    width: 327px;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--card-background);
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
}
.container .img-mobile {
    width: 100%;
    height: 240px;
}
.container .text-container {
    flex: 1;
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}
.container .text-container h1 {
    height: 100px;
    position: absolute;
    top: 40px;
    left: 30px;
    right: 30px;
    font-size: 28px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    line-height: 32px;
}
.container .text-container h1 span {
    color: var(--soft-violet);
}
.container .text-container h1 .grow {
    display: none;
}
.container .text-container p {
    position: absolute;
    top: 150px;
    left: 30px;
    right: 30px;
    height: 95px;
    font-size: 14px;
    font-family: Inter , Tahoma;
    line-height: 25px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}
.container .text-container .stats-container {
    position: absolute;
    top: calc(150px + 80px);
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    padding-top: 45px;
}
.container .text-container .stats-container .stat {
    text-align: center;
    margin-bottom: 45px;
}
.container .text-container .stats-container .stat:last-of-type {
    margin-bottom: 0;
}
.container .text-container .stats-container .stat h2 {
   font-size: 24px;
   font-weight: bold;
   color: white;
   text-transform: uppercase;
}
.container .text-container .stats-container .stat span {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    color:hsla(0, 0%, 100%, 0.6);
}
.container .image-desktop {
    display: none;
}
@media (min-width: 468px) {
    .container {
        width: calc(100% - 40px);
        flex-direction: column-reverse;
    }
    .container .img-mobile {
        display: none;
    }
    .container .image-desktop {
        display: block;
        width: 100%;
        height: 240px;
    }
    .container .image-desktop img {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
}

}
@media (min-width: 768px) {
    .container {
        height: 445px;
        flex-direction: row;
    }
    .container .text-container {
        width: 50%;
        padding: 10px;
        justify-content: center;
    }
    .container .text-container h1 , .container .text-container p {
        text-align: left;
        width: 327px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .container .text-container h1 .grow {
        display: inline;
        color:hsl(0, 0%, 100%);
    }
    .container .text-container p {
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    .container .image-desktop {
        width: 50%;
        height: 100%;
    }
    .container .image-desktop img {
        width: 100%;
        height: 100%;
    }
    .container .text-container .stats-container {
        justify-content: space-between;
        flex-direction: row;
        top: auto;
        bottom: 40px;
        width: 327px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        right: auto;
}
    
}
@media (min-width: 1440px) {
    body {
        height: 800px;
    }
    .container {
        width: 1110px;
    }
    .container .text-container {
        position: relative;
        flex: 1;
        padding: 70px 125px 70px 70px;
    }
    .container .text-container h1 , .container .text-container p , .container .text-container .stats-container {
        width: 375px;
        font-weight: lighter;
    }
    .container .text-container h1 {
        font-size: 35px;
        line-height: 44px;
        height: 90px;
    }
    .container .image-desktop {
        width: 540px;
    }
}